* {
    background-color: #f7f7f7; 
    font-family: "Chakra Petch", sans-serif;
    font-weight: 400;
    font-size: 18px; 
    line-height: 1.6; 
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    position: relative; /* Permite posicionar a imagem e o título dentro do header */
    height: 120px; /* Altura do header para acomodar a imagem e o título */
    margin-bottom: 20px; /* Espaçamento abaixo do header */
}

.title {
    position: absolute; /* Permite o posicionamento absoluto em relação ao header */
    top: 60%; /* Ajusta o título para um pouco mais abaixo do centro */
    left: 50%; /* Centraliza horizontalmente no header */
    transform: translate(-50%, -50%); /* Ajusta a posição central */
    font-size: 36px; /* Tamanho da fonte para o título */
    color: #333333; /* Cor do texto */
    font-weight: 700; /* Peso da fonte para destaque */
    text-align: center; /* Centraliza o texto dentro do título */
    margin: 0; /* Remove margens padrão */
}

.criptografia {
    position: absolute; /* Permite o posicionamento absoluto em relação ao header */
    top: 0; /* Alinha ao topo do header */
    left: 0; /* Alinha ao lado esquerdo do header */
    max-width: 150px; /* Define uma largura máxima para a imagem */
    max-height: 100%; /* Garante que a altura não ultrapasse o limite do header */
    margin: 0; /* Remove margens */
}

main {
    display: flex;
    flex-direction: column; /* Layout vertical */
    margin: 20px auto; /* Espaçamento superior e inferior ajustado */
    max-width: 1200px; /* Largura máxima ajustada */
    background-color: #ffffff;
    padding: 40px; /* Padding interno ajustado */
    border-radius: 16px;
    border: 2px solid #333333; /* Borda escura para destacar o contêiner principal */
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.1);
}

.text-area {
    border: 2px solid #cccccc; 
    color: #333333;
    margin-top: 30px; /* Espaçamento ajustado */
    text-transform: lowercase;
    padding: 15px; /* Padding ajustado */
    border-radius: 8px;
    width: 100%;
    background-color: #f9f9f9; 
    transition: border-color 0.3s ease; 
    resize: none;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1); 
    overflow: auto; /* Ajustado para permitir rolagem se necessário */
}

.text-area:focus {
    outline: none;
    border-color: #007BFF; 
}

::placeholder {
    color: rgba(0, 0, 0, 0.5);
}

.mensagem {
    border: 2px solid #cccccc; 
    color: #333333;
    margin-top: 30px; /* Espaçamento ajustado */
    text-transform: lowercase;
    padding: 15px; /* Padding ajustado */
    border-radius: 8px;
    width: 100%;
    height: auto; /* Ajustado para permitir o crescimento conforme o conteúdo */
    background-color: #f9f9f9; 
    transition: border-color 0.3s ease; 
    resize: none;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1); 
    overflow: auto; /* Ajustado para permitir rolagem se necessário */
}

.mensagem:focus {
    outline: none;
    border-color: #007BFF; 
}

.botoes {
    display: flex;
    gap: 14px; /* Espaçamento ajustado */
    margin-top: 30px; /* Espaçamento ajustado */
}

.botoes button {
    background-color: #007BFF; 
    color: white;
    padding: 15px 28px; /* Padding ajustado */
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s ease; 
}

.botoes button:hover {
    background-color: #0056b3;
}

.btn-copiar {
    background-color: #007BFF; /* Mesma cor de fundo dos outros botões */
    color: white; /* Mesma cor de texto dos outros botões */
    padding: 15px 28px; /* Mesmo padding dos outros botões */
    border: none; /* Remover borda para igualar aos outros botões */
    border-radius: 8px; /* Mesmo border-radius dos outros botões */
    cursor: pointer; /* Mesmo cursor dos outros botões */
    transition: background-color 0.3s ease; /* Mesma transição dos outros botões */
}

.btn-copiar:hover {
    background-color: #0056b3; /* Mesma cor de hover dos outros botões */
}
