* {
    background-color: #f7f7f7; 
    font-family: "Chakra Petch", sans-serif;
    font-weight: 400;
    font-size: 18px; 
    line-height: 1.6; 
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    position: relative; 
    height: 120px; 
    margin-bottom: 20px;

.title {
    position: absolute; 
    top: 60%; 
    left: 50%; 
    transform: translate(-50%, -50%); 
    font-size: 36px; 
    color: #333333; 
    font-weight: 700; 
    text-align: center; 
    margin: 0;
}

.criptografia {
    position: absolute; 
    top: 0; 
    left: 0; 
    max-width: 150px; 
    max-height: 100%; 
    margin: 0; 
}

main {
    display: flex;
    flex-direction: column; 
    margin: 20px auto; 
    max-width: 1200px; 
    background-color: #ffffff;
    padding: 40px; 
    border-radius: 16px;
    border: 2px solid #333333; 
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.1);
}

.text-area {
    border: 2px solid #cccccc; 
    color: #333333;
    margin-top: 30px; 
    text-transform: lowercase;
    padding: 15px; 
    border-radius: 8px;
    width: 100%;
    background-color: #f9f9f9; 
    transition: border-color 0.3s ease; 
    resize: none;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1); 
    overflow: auto; 
}

.text-area:focus {
    outline: none;
    border-color: #007BFF; 
}

::placeholder {
    color: rgba(0, 0, 0, 0.5);
}

.mensagem {
    border: 2px solid #cccccc; 
    color: #333333;
    margin-top: 30px; 
    text-transform: lowercase;
    padding: 15px; 
    border-radius: 8px;
    width: 100%;
    height: auto; 
    background-color: #f9f9f9; 
    transition: border-color 0.3s ease; 
    resize: none;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1); 
    overflow: auto;
}

.mensagem:focus {
    outline: none;
    border-color: #007BFF; 
}

.botoes {
    display: flex;
    gap: 14px; 
    margin-top: 30px; 
}

.botoes button {
    background-color: #007BFF; 
    color: white;
    padding: 15px 28px; 
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s ease; 
}

.botoes button:hover {
    background-color: #0056b3;
}

.btn-copiar {
    background-color: #007BFF; 
    color: white; 
    padding: 15px 28px; 
    border: none; 
    border-radius: 8px; 
    cursor: pointer; 
    transition: background-color 0.3s ease; 
}

.btn-copiar:hover {
    background-color: #0056b3;
}
